/* general */

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header, footer, .hero  {
    background-color: #274156;
}

img {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-weight: 100;
    color: white;
    letter-spacing: 2px; 
    padding: 10px;
    text-shadow: 2px 2px 2px #AEDCC0;
}


/* header / nav / hero home  */


h1, h2, h3, a, p, .hero a {
    text-align: center;
    display: block;
}

nav {
    display: -ms-flexbox;
    display: -webkit-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}


h2, h3 {
    color: #AEDCC0;
    font-weight: 300;
    padding: 10px;
}

 
header div nav a {
    font-weight: 400;
    padding: 1rem;
    border-radius: 3px;
}

header div nav a:hover, header div nav a:focus, header div nav a:active  {
    color: #AEDCC0;
}

header div nav:last-child {
    padding-bottom: 10px;

}

.hero {
    display: -ms-flexbox;
    display: -webkit-flexbox;
    display: flex;
    flex-direction: column;
    background: #AEDCC0;
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);


}

h2 {
    color: #274156;
}

.hero p {
    color: #4C4C49;
    font-weight: 300;
    padding: 10px;
}

.hero a {
    border: 1px solid #AEDCC0;
    color: white;
    background: #274156;
    width: 50%;
    padding: 10px;
    display: inline-block;  
    margin: 10px auto;
    border-radius: 2px;
}

.hero a:hover, .hero a:active, .hero a:focus {
    background: white;
    color: #274156;
}


/* main home */

.feature-div {
    border-bottom: 1px solid #274156;
    padding: .5rem 1.5rem;
}

.feature-div h3 {
    color: #274156;
    font-weight: 400;
}

.feature-div p {
    color: #4C4C49;
    font-weight: 300;
    padding: 10px;

}

/* footer  */

footer p {
    color: white;
    padding: 10px;
}

footer nav a {
    font-weight: 400;
    padding: 1rem;
}

footer nav a:hover, footer nav a:active, footer nav a:focus {
    color:#AEDCC0;
}




/* speakers welcome */


.speaker-welcome {
    background: #AEDCC0;
    color: #4C4C49;
    padding: 10px;
    background: linear-gradient(to right, #AEDCC0, #f6f1d3);

}

.speaker-welcome h2 {
    padding: 5px;
}

 /* aside speakers */

 aside {
     border: 1px solid #274156;
     border-radius: 3px;
     width: 70%;
     margin:  0 auto;
     padding: 5px;
 }
 

 aside img {
     width: 90px;
     padding: 10px;
     display: block;
     margin: 0 auto;
    }


 aside a {
     color:#274156;
     padding: 5px;
 }
 

 aside a:hover, aside a:focus, aside a:active {
    color: lightslategray;
}



 /* speakers */

 .speaker-container {
    background: rgba(39, 65, 86, .1);
    margin: 1rem;
    padding: 1rem;
}


 .speaker {
     padding: 15px;
 }

 .speaker h3 {
     color :#274156;
     margin: 0;
     padding: 0;
 }


 .speaker h5 {
    color: #274156;
    text-align: center;
    padding: 5px;
    padding-bottom: 15px;
}

.speaker p {
    text-align: left;
    padding: 10px;
    color: #4C4C49;
}


/* register */

.register-welcome {
    background: #AEDCC0;
    color: #4C4C49;
    padding: 10px;
    background: linear-gradient(to right, #AEDCC0, #f6f1d3);

}


.register-welcome h2 {
    padding: 5px;
}

.register-pass {
    padding: 1rem;
}
.register-pass h2 {
    margin: 0;
    padding: 0;
}

.tiny-text {
 font-size: 12px;
 padding-bottom: 1rem;
}

.why-attend {
    color: #274156;
}

ul li {
list-style-type: disc;
list-style-position: inside;
text-align: center;
}

/* form  */

form {
display: inline-block;
margin-top: 1rem;
}

input, select, button, label, textarea, form {
    display: block;
}
label {
   color: #274156;
}

input, textarea, select {
    width: 100%;
    height: 44px;
    margin-bottom: 1rem;
}

button {
    background-color: #AEDCC0;
    border: none;
    padding: 1rem;
    border-radius: 2px;
    color: #274156;
    margin: 0 auto;
    width: 50%;
    font-size: 16px;
}


button:hover, button:active, button:focus {
    color: #AEDCC0;
    background-color: #274156;
    font-weight: 600;
}


/* venue */

.venue-welcome {
    background: #AEDCC0;
    background: linear-gradient(to right, #AEDCC0, #f6f1d3);
    color: #4C4C49;
    padding: 10px;
}

.venue-welcome h2 {
    padding: 5px;
}


.venue-location a, .hotel-location a{
    color: #274156;
}

.venue-location a:hover,
.venue-location a:active, 
.venue-location a:focus,
.hotel-location a:hover,
.hotel-location a:active, 
.hotel-location a:focus {
    color: lightslategray;
}


.venue-location p, .hotel-location p {
    color:#4C4C49;
    padding-bottom: 1rem;
}

iframe {
    width: 100%;
}
/* schedule  */

.schedule-welcome {
    background: #AEDCC0;
    color: #4C4C49;
    padding: 10px;
    background: linear-gradient(to right, #AEDCC0, #f6f1d3);

}

.schedule-welcome h2 {
    padding: 5px;
}

table {
    width: 100%;
    margin: 2rem .25rem;
    border-collapse: collapse;
}

th, td, tr a, table h4 {
    font-weight: 300;
    text-align: left;
    color: #4C4C49;
}

thead th  {
    color: #274156;
    font-size: 1.25rem;
    font-weight: 400;
}

tr td {
    padding: .75rem;
    width: 50%;
}


table h4 {
    color: #274156;
    font-weight: 400;
}

tbody td {
    border-top: 1px solid #AEDCC0;

}

tr a:active, tr a:focus, tr a:hover {
    color: lightslategray;

}



/* media query  */

@media screen and (min-width: 500px) {

    /* venue maps  */
    iframe {
        width: 75%;
        margin: 0 auto;
        display: block;
    }

    /* speakers */
    aside {
        max-width: 50%;
    }

}

@media screen and (min-width: 750px) {

    /* home hero & main */
    .index-main, .hero h2, .hero p {
        width: 75%;
        margin: 0 auto;
    }

    .hero a {
        width: 25%;
    }


    /* speakers */
    .speaker-welcome h2, .speaker-welcome p, .speakers{
        width: 75%;
        margin: 0 auto;
    }

    aside {
        max-width: 50%;
    }

    /* schedule  */
    .schedule-welcome h2, .schedule-welcome p, table {
        width: 75%;
        margin: 0 auto;
    }

    /* venue  */
    .venue-welcome h2, .venue-welcome p, .hotel-location, .venue-location {
        width: 75%;
        margin: 0 auto;
    }

    .hotel-location, .venue-location {
        margin: 2rem auto;
    }
    
    .hotel-location p, .venue-location p {
        padding-bottom: 2rem;
    }

    /* register */

    .register-welcome h2, .register-welcome p, .register-pass{
        width: 75%;
        margin: 0 auto;
    }
}



@media screen and (min-width: 900px) {

        /* header & footer */
        header, footer {
            display: -ms-flexbox;
            display: -webkit-flexbox;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
        }

        header h1 {
            font-size: 2rem;
        }

        header div nav a  {
            padding: 1rem;
        }

        header div h3,  header div nav {
            text-align: right;
        }


        /* home  */
        .hero {
            height: 45%;
            padding-top: 3.5rem;
        }
        .hero a {
            margin-bottom: 2rem;
        }

        .index-main {
            display: -ms-flexbox;
            display: -webkit-flexbox;
            display: flex;
            width: 100%;
        }

        .feature-div {
            width: 100%;
        }
        
        /* speaker */

        .speaker-welcome {
            padding: 3rem;
        }

        .speaker-container {
            display: -ms-flexbox;
            display: -webkit-flexbox;
            display: flex;  
        }

        aside  {
            height: 80%;
            max-width: 50%;
            margin-top: 14px;
        }
        
        .speaker {
            border-bottom: none;
            margin-bottom: 2rem;
        }

        /* schedule */

        .schedule-welcome {
            padding: 3rem;

        }

        table {
            margin: 4rem auto;
        }

        /* venue  */

        .venue-welcome {
            padding: 3rem;

        }
        
        .hotel-location, .venue-location {
            display: -ms-flexbox;
            display: -webkit-flexbox;
            display: flex;
        }

        .info-div {
            margin: 2rem;
            width: 40%;
            align-content: center;
            justify-content: center;
        }

        iframe {
            width: 100%;
            max-height: 40vh;
        }
     
        /* register */
        .register-welcome {
            padding: 3rem;
        }

        .register-pass {
            display: -ms-flexbox;
            display: -webkit-flexbox;
            display: flex;
        }

        .register-info, form {
            width: 100%;
            margin: 2rem;
        }
        .register-info p, .why-attend, ul li {
            text-align: left;
        }

        .register-info h2 {
            text-align: left;
        }


}


@media screen and (min-width: 1100px) {
    
    /* home */

    header h1 {
        font-size: 3rem;
    }

    .index-main {
        padding: 3rem;
    }
    .feature-div {
        border: none;
    }
    .hero h2 {
        font-size: 2rem;
        width: 60%;

    }
    .hero p {
        font-size: 1.5rem;
        width: 60%;

    }
    .hero a {
        margin-bottom: 2rem;
        max-width: 25%;
    }
 
    /* speakers */
    aside  {
        max-width: 20%;
    }

    .speaker {
        width: 70%;
    }
    .speaker-welcome h2 {
        font-size: 2rem;
        width: 60%;
    }

    .speaker-welcome p {
        font-size: 1.5rem;
        width: 60%;
        font-weight: 300;
    }

    .speaker-container {
        width: 80%;
        margin: 2rem auto;
    }
 

    /* schedule */

    .schedule-welcome h2 {
        font-size: 2rem;
        width: 60%;
    }

    .schedule-welcome p {
        font-size: 1.5rem;
        width: 60%;
        font-weight: 300;
    }
    table {
        width: 60%;
    }
 
    /* venue  */

    .venue-welcome h2 {
        font-size: 2rem;
        width: 60%;
    }

    .venue-welcome p {
        font-size: 1.5rem;
        width: 60%;
        font-weight: 300;
    }

    .hotel-location, .venue-location {
        width: 60%;
    }

    /* register */

    .register-welcome h2 {
        font-size: 2rem;
        width: 60%;
    }

    .register-welcome p {
        font-size: 1.5rem;
        width: 60%;
        font-weight: 300;
    }
    .register-pass {
        width: 60%;
    }


}