/* general */

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header, footer, .hero  {
    background-color: #274156;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-weight: 100;
    color: white;
    letter-spacing: 2px; 
    padding: 10px;

}

/* layout home */

h1, h2, h3, a, p, .hero a {
    text-align: center;
    display: block;
}

nav {
    display: -ms-flexbox;
    display: -webkit-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}


/* header / nav / hero home  */


h2, h3 {
    color: #AEDCC0;
    font-weight: 300;
    padding: 10px;
}

 
header div nav a {
    font-weight: 400;
    padding: 1rem;
}

header div nav:last-child {
    padding-bottom: 10px;

}

.hero {
    display: -ms-flexbox;
    display: -webkit-flexbox;
    display: flex;
    flex-direction: column;
    background: #AEDCC0;

}

h2 {
    color: #274156;
}

.hero p {
    color: #4C4C49;
    font-weight: 300;
    padding: 10px;
}

.hero a {
    border: 1px solid #AEDCC0;
    color: white;
    background: #274156;
    width: 50%;
    padding: 5px;
    display: inline-block;  
    margin: 10px auto;
    border-radius: 2px;
}

/* main home */

.feature-div {
    border-bottom: 1px solid #274156;
    padding: .5rem 1.5rem;
}

.feature-div h3 {
    color: #274156;
    font-weight: 400;
}

.feature-div p {
    color: #4C4C49;
    font-weight: 300;
    padding: 10px;

}

/* footer home */

footer p {
    color: white;
    padding: 10px;
}

footer nav a {
    font-weight: 400;
    padding: 1rem;
}

/* speakers welcome */


.speaker-welcome {
    background: #AEDCC0;
    color: #4C4C49;
    padding: 10px;
}

.speaker-welcome h2 {
    padding: 5px;
}

 /* aside speakers */

 aside {
     border: 1px solid lightgray;
     border-radius: 3px;
     width: 70%;
     margin: 30px auto 0;
     padding: 5px;
 }
 

 aside img {
     width: 90px;
     padding: 10px;
     display: block;
     margin: 0 auto;
    }


 aside a {
     color:#274156;
     padding: 5px;
 }
 
 /* speakers */


 .speaker {
     padding: 15px;
     border-bottom: 1px solid #274156;
 }

 .speaker h3 {
     color :#274156;
     margin: 0;
     padding: 0;
 }


 .speaker h5 {
    color: #274156;
    text-align: center;
    padding: 5px;
    padding-bottom: 15px;
}

.speaker p {
    text-align: left;
    padding: 10px;
    text-indent: 2rem;
    color: #4C4C49;
}

/* schedule */

.schedule-welcome {
    background: #AEDCC0;
    color: #4C4C49;
    padding: 10px;
}

.schedule-welcome h2 {
    padding: 5px;
}

/* register */

.register-welcome {
    background: #AEDCC0;
    color: #4C4C49;
    padding: 10px;
}

.register-welcome h2 {
    padding: 5px;
}

/* venue */

.venue-welcome {
    background: #AEDCC0;
    color: #4C4C49;
    padding: 10px;
}

.venue-welcome h2 {
    padding: 5px;
}